/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('/fonts/proximanova-bold-webfont.eot');
    src: url('/fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg'),
         url('/fonts/proximanova-bold-webfont.woff') format('woff'),
         url('/fonts/proximanova-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('/fonts/proximanova-regular-webfont.eot');
    src: url('/fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg'),
         url('/fonts/proximanova-regular-webfont.woff') format('woff'),
         url('/fonts/proximanova-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('/fonts/MonoSocialIconsFont-1.10.eot');
    src: url('/fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('/fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg'),
         url('/fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    src: url('/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    font-size: 130%;
}


.icon-list 
{
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url('/img/menu.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 32px;
    float: right;
    margin-top: 8px;
    margin-right: 6px;
    cursor: pointer;
    display: none;
}

.icon-cross 
{
    display: inline;
    height: 32px;
    background-image: url('/img/cross.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 32px;
    margin: 5px;
    position: absolute;
    right: 0;
    cursor: pointer;
}



/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
    background-color: #fff;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing:antialiased;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #95a5a6;
    text-shadow: none;
}

::selection {
    background: #95a5a6;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   ShoutOut custom styles
   ========================================================================== */

a
{
    color: inherit;
    text-decoration: none;
}

.inner-bar
{
    max-width: 1140px;
    margin: auto;
}

.bar-logo
{
    width: 40px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.duration
{
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.logo-text
{
    color: #2c3e50;
    display: inline-block;
    font-family: proxima_nova_rgregular;
    font-size: 29px;
    position: fixed;
    top: 6px;
    cursor: pointer;
    margin-left: 4px;
}

.top-bar
{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 33px rgba(0, 0, 0, 0.35);
    z-index: 999;
    padding-bottom: 1px;
}

.top-bar ul
{
    margin: 0;
    color: #2c3e50;
    float: right;
    padding: 5px;
}

.top-bar li
{
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    font-family: proxima_nova_rgregular;
}

.top-bar li:hover
{
    background-color: #FF3D33;
    border-radius: 5px;
    color: white;
}

.top-bar li a
{
    display: inline-block;
    padding: 9px 10px;
}

.intro
{
    height: 650px;
    text-align: center; 
}

#map 
{     
    width: 100%;
    height: 750px; 
    float: left;
}

.map-container
{
    width: 100%;
    height: 650px; 
    overflow: hidden;
}

.color-overlay
{
    width: 100%;
    height: 650px;
    background-color: rgba(255, 61, 51, 0.85);
    z-index: 100;
    float: left;
    position: absolute;
}

.bar-logo:hover 
{ 
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;

    -webkit-transform: rotate(360deg); 
    -moz-transform: rotate(360deg); 
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg); 
}

.rotate
{
    -webkit-transform: rotate(360deg); 
    -moz-transform: rotate(360deg); 
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg); 
}

.large-logo
{
    width: 150px;
}

.intro-content
{
    position: absolute;
    z-index: 100;
    margin-top: 184px;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
}

.intro-content h1
{
    margin: 0;
    color:white;
    font-family: proxima_nova_rgbold;
    font-size: 75px;
}

footer
{
    background-color: rgba(255, 61, 51, 1);
    text-align: center;
    color: #ecf0f1;
}

footer h1, footer h3
{
    font-family: proxima_nova_rgbold;
    margin: 0;
    padding: 0;
}

.connect-header
{
    font-size: 50px;
    margin: 0;
    padding: 20px;
    font-family: proxima_nova_rgbold;
}

.social-links
{
    margin: 0;
    padding: 0;
    padding: 20px;
}

.social-links li
{
    display: inline-block;
    margin: 20px;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.social-links li a
{
    display: inline-block;
    font-size: 50px;
}

.social-links li:hover 
{
    color: #34495e;
}

.share-us
{
    padding-top: 10px;
    font-family: proxima_nova_rgregular;
    font-size: 40px;
}

footer .button
{
    margin-top: 7px;
    display: inline;
    background-color: #34495e;
}

footer .button:hover
{
    background-color: white;
    color: #34495e;
}

footer small
{
    padding-top: 15px;
    display: block;
    font-family: proxima_nova_rgregular;
}

.social-slide
{
    margin: 0;
    padding: 0;
    padding: 20px;
}

.social-slide li
{
    display: inline-block;
    height: 105px;
    width: 105px;
    margin: 10px;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
    border-radius: 100%;
}

.social-slide li a
{
    width: 100%;
    height: 100%;
    display: block;
}

.social-slide li:hover 
{
    background-position-y: -105px;
    box-shadow: 0px 0px 5px 1px rgba(255,255,255,0.4);
}

.twitter
{
    background-image: url('../img/social.png');
}

.facebook
{
    background-image: url('../img/social.png');
    background-position-x: -105px; 
}

.google
{
    background-image: url('../img/social.png');
    background-position-x: -315px; 
}

.email-input
{
    outline-width: 0;
    font-family: proxima_nova_rgregular;
    padding: 2px;
}

.email-input:focus
{
    outline-width: 0;
    border:2px solid #34495e;
}

.divider
{
    max-width: 300px;
    margin: auto;
    margin-top: 6px;
    margin-bottom: 20px;
    width: 100%;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
}

.chatrooms-image
{
    width: 100%;
    float: left;
}

.about
{
    max-width: 1024px;
    min-height: 723px;
    margin: auto;
    overflow-y: hidden;
    overflow-x: hidden;
}

.overlay-container
{
    width: 100%;
    max-width: 1024px;
    margin: auto;
    position: absolute;
}

.chatroom-overlay
{
    width: 263px;
    height: 60px;
    float: left;
    margin-top: 229px;
    margin-left: 45px;
    overflow: hidden;
}

.chatroom-slider
{
    background-image: url("../img/slider.png");
    background-size: contain;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.section-separator
{
    width: 100%;
    height: 200px;
    background-image: url('../img/separator.jpg');
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.more-info
{
    width: 100%;
    max-width: 1024px;
    min-height: 758px;
    margin: auto;
    text-align: right;
    overflow: hidden;
}

.more-info .screenshot
{
    width: 370px;
    float: right;
    padding: 50px 0 50px 0;
    overflow: hidden;
}

.more-info .screenshot img
{
    width: 100%;
}

.separator-overlay
{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 61, 51, 0.65);
}

.title-line 
{
    border-bottom: 1px solid #D5D5D5;
    display: block;
    height: 1px;
    margin: auto;
    width: 90px;
    margin-top: .5em;
}

.separator-content
{
    width: 100%;
    max-width: 1024px;
    margin: auto;
    text-align: center;
    color: #ecf0f1;
}

.separator-header
{
    font-family: proxima_nova_rgbold;
    font-size: 31px;
    padding-top: 65px;
}

.animation-container
{
    width: 350px;
    padding-top: 50px;
    min-height: 658px;
    padding-bottom: 15px;
    display: inline-block;
    float: left;
}

.content-header
{
    color: #e74c3c;
    font: 25pt 'proxima_nova_rgbold';
    padding: 30px 0px 0px 0px;
}

.content-header span
{
    display: block;
    font-size: 75px;
}

.content-header .title-line
{
    height: 3px;
    border-bottom: 1px solid #e7e6e9;
    width: 279px;
    margin: 25px 0 35px 5px;
}

.right-column
{
    float: left;
    display: inline-block;
    margin-left: 150px;
    max-width: 450px;
}

.right-column p, .left-column p
{
    font-size: 18px;
    font-family: proxima_nova_rgregular;
}

.left-column
{
    float: right;
    display: inline-block;
    margin-right: 150px;
    max-width: 450px;
    text-align: left;
}

.announcement
{
    color: white;
    font-size: 18px;
    font-family: proxima_nova_rgregular;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 75px;
}

.intro-content .title-line
{
    color: white;
}

.modal-backdrop 
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    opacity: .7;
}

.lightbox-content
{
    background-color:white;
    width:400px; 
    min-height:200px;
    border-radius: 0;
}

.lightbox
{
    margin-top: 10%;
    font-family: proxima_nova_rgregular;
}

.lightbox-content h1
{
    margin-bottom: 0;
}

.lightbox-content input
{
    margin-top: 8px;
    padding: 5px;
    font-size: 14px;
    font-family: proxima_nova_rgregular;
}

.lightbox-content input:focus
{
    outline-width: 0;
    border:2px solid #FF3D33;
}

.button
{
    outline-width: 0;
    display: block;
    margin: auto;
    margin-top: 15px;
    background-color: #ff3d33;
    border: none;
    color: white;
    padding: 5px 12px;
    text-decoration: none;
    font-size: 16px;
    font-family: proxima_nova_rgregular;
    margin-bottom: 0;
    border-radius: 3px;

    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.error
{
    color: red;
    display: block;
    height: 18px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (max-width: 980px) {
    .animation-container 
    {
        float: none;
        margin: auto;
        display: block;
    }

    .right-column
    {
        margin: auto;
        text-align: center;
        float: none;
        display: block;
    }

    .content-header .title-line
    {
        margin-left: auto;
        margin-right: auto;
    }

    .right-column p
    {
        text-align: justify;
    }

    .more-info .screenshot
    {
        float: none;
        margin: auto;
    }

    .left-column 
    {
        float: none;
        text-align: center;
        margin: auto;
        display: block;
    }

    .left-column p
    {
        text-align: justify;
        margin-bottom: 50px;
    }

    .more-info .content-header
    {
        margin-top: 0;
        padding-top: 0;
    }

}

@media screen and (max-width: 810px) {
    .separator-content .title-line
    {
        margin-bottom: 65px;
    }

    .section-separator
    {
        height: 100%;
        min-height: 200px;
    }
}

@media screen and (max-width: 750px) {

    .top-bar li 
    {
        display: none;
    }

    .icon-list
    {
        display: block;
    }

    .top-bar li a
    {
        width: 100%;
    }

}

@media screen and (max-width: 485px) {
    .left-column p, .right-column p
    {
        margin-left: 25px;
        margin-right: 25px;
    }

    .intro-content h1
    {
        font-size: 55px;
    }

    .more-info .screenshot
    {
        width: 90%;
    }

    .animation-container 
    {
        width: 300px;
        min-height: 565px;
    }

    .chatroom-overlay
    {
        margin-top: 196px;
        margin-left: 39px;
        width: 225px;
        height: 53px;
    }

}

@media screen and (max-width: 430px) {

    .lightbox
    {
        width: 90%;
        margin-right: 15px;
    }
    
    .lightbox-content
    {
        width: 100%;
    }

}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
