/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('/fonts/proximanova-bold-webfont.eot');
    src: url('/fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg'),
         url('/fonts/proximanova-bold-webfont.woff') format('woff'),
         url('/fonts/proximanova-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('/fonts/proximanova-regular-webfont.eot');
    src: url('/fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg'),
         url('/fonts/proximanova-regular-webfont.woff') format('woff'),
         url('/fonts/proximanova-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('/fonts/MonoSocialIconsFont-1.10.eot');
    src: url('/fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('/fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg'),
         url('/fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    src: url('/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novalight';
    src: url('/fonts/proximanova-light-webfont.eot');
    src: url('/fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova-light-webfont.woff') format('woff'),
         url('/fonts/proximanova-light-webfont.ttf') format('truetype'),
         url('/fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;

}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    font-size: 130%;
}


.icon-list 
{
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url('/img/menu.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 32px;
    float: right;
    margin-top: 8px;
    margin-right: 6px;
    cursor: pointer;
    display: none;
}

.icon-cross 
{
    display: inline;
    height: 32px;
    background-image: url('/img/cross.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 32px;
    margin: 5px;
    position: absolute;
    right: 0;
    cursor: pointer;
}



/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
    background-color: #fff;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing:antialiased;
}

body
{
    margin: 0;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #95a5a6;
    text-shadow: none;
}

::selection {
    background: #95a5a6;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   ShoutOut custom styles
   ========================================================================== */

a
{
    color: inherit;
    text-decoration: none;
}

.inner-bar
{
    max-width: 1140px;
    margin: auto;
}

.bar-logo
{
    width: 40px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.duration
{
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.logo-text
{
    color: #2c3e50;
    display: inline-block;
    font-family: proxima_nova_rgregular;
    font-size: 29px;
    position: fixed;
    top: 6px;
    cursor: pointer;
    margin-left: 4px;
}

.top-bar
{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 33px rgba(0, 0, 0, 0.35);
    z-index: 999;
    padding-bottom: 1px;
}

.top-bar ul
{
    margin: 0;
    color: #2c3e50;
    float: right;
    padding: 5px;
}

.top-bar li
{
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    font-family: proxima_nova_rgregular;
}

.top-bar li:hover
{
    background-color: #FF3D33;
    border-radius: 5px;
    color: white;
}

.top-bar li a
{
    display: inline-block;
    padding: 9px 10px;
}

.intro
{
    position: fixed;
    height: 550px;
    width: 100%;
    background-color: #FF3D33; 
    background-image: url('/img/map.png');
    background-position: -270px 0px;
    text-align: center;
    background-size: cover;
}

#map 
{     
    width: 100%;
    height: 750px; 
    float: left;
}

.map-container
{
    width: 100%;
    height: 550px;
    overflow: hidden;
}   

.intro .color-overlay
{
    width: 100%;
    height: 550px;
    background-color: rgba(255, 61, 51, 0.85);
    background-image: none;
    z-index: 100;
    float: left;
    position: fixed;
}

.content-outer
{
    box-shadow: 0 20px 20px 20px #444444;
    -moz-box-shadow: 0 20px 20px 20px #444444;
    -webkit-box-shadow: 0 20px 20px 20px #444444;
    background-color: #fff;
    position: absolute;
    top: 550px;
    width: 100%;
    z-index: 500;
}

.content-inner
{
    position: relative;
    width: 100%;
    height: 100%;
}

.gradient
{
    width: 100%;
    height: 550px;
    z-index: 100;
    float: left;
    position: absolute;

    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #FF5E3A),
    color-stop(1, #FF2A66)
    );

    background-image: -o-linear-gradient(bottom, #FF5E3A 0%, #FF2A66 100%);
    background-image: -moz-linear-gradient(bottom, #FF5E3A 0%, #FF2A66 100%);
    background-image: -webkit-linear-gradient(bottom, #FF5E3A 0%, #FF2A66 100%);
    background-image: -ms-linear-gradient(bottom, #FF5E3A 0%, #FF2A66 100%);
    background-image: linear-gradient(to bottom, #FF5E3A 0%, #FF2A66 100%);
}

.bar-logo:hover 
{
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;

    -webkit-transform: rotate(360deg) translate3d(0, 0, 0); 
    -moz-transform: rotate(360deg) translate3d(0, 0, 0); 
    -o-transform: rotate(360deg) translate3d(0, 0, 0);
    -ms-transform: rotate(360deg) translate3d(0, 0, 0); 
}

.rotate
{
    -webkit-transform: rotate(360deg); 
    -moz-transform: rotate(360deg); 
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg); 
}

.large-logo
{
    width: 150px;
}

.intro-content
{
    position: fixed;
    z-index: 100;
    margin-top: 155px;
    margin-left: auto;
    margin-right: auto;
    left:0;
    right:0;
}

.intro-content h1
{
    margin: 0;
    color:white;
    font-family: proxima_nova_rgbold;
    font-size: 75px;
}

.connect-header
{
    font-size: 50px;
    margin: 0;
    padding: 20px;
    font-family: proxima_nova_rgbold;
}

.social-links
{
    margin: 0;
    padding: 0;
    padding: 20px;
}

.social-links li
{
    display: inline-block;
    margin: 20px;

    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.social-links li a
{
    display: inline-block;
    font-size: 50px;
}

.social-links li:hover 
{
    color: #34495e;
}

.share-us
{
    padding-top: 10px;
    font-family: proxima_nova_rgregular;
    font-size: 40px;
}

.social-slide
{
    margin: 0;
    padding: 0;
    padding: 20px;
}

.social-slide li
{
    display: inline-block;
    height: 105px;
    width: 105px;
    margin: 10px;
    border-radius: 100%;

    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.social-slide li a
{
    width: 100%;
    height: 100%;
    display: block;
}

.social-slide li:hover 
{
    background-position-y: -105px;
    box-shadow: 0px 0px 5px 1px rgba(255,255,255,0.4);
}

.twitter
{
    background-image: url('/img/social.png');
    background-position: -105px 0; 
}

.facebook
{
    background-image: url('/img/social.png');
}

.google
{
    background-image: url('/img/social.png');
    background-position: -315px 0; 
}

.email-input
{
    outline-width: 0;
    font-family: proxima_nova_rgregular;
    padding: 2px;
}

.get-app
{
    position: relative;
    border: 2px solid white; 
    border-radius: 5px; 
    margin: auto;
    color: white;
    font-family: proxima_nova_rgregular;
    text-align: center;
    padding: 10px;
}

.text:hover
{
    color: black;
    background-color: white;
    opacity: .35;
}

.email-input:focus
{
    outline-width: 0;
    border:2px solid #34495e;
}

.divider
{
    max-width: 300px;
    margin: auto;
    margin-top: 6px;
    margin-bottom: 20px;
    width: 100%;
    border: 0;
    height: 1px;
    
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
}

.chatrooms-image
{
    width: 100%;
    float: left;
}

.about
{
    max-width: 1024px;
    min-height: 723px;
    margin: auto;
    overflow-y: hidden;
    overflow-x: hidden;
}

.overlay-container
{
    width: 100%;
    max-width: 300px;
    margin: auto;
    position: absolute;
}

.chatroom-overlay
{
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    -ms-transform:translate3d(0, 0, 0);
    -o-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);

    width: 263px;
    height: 60px;
    float: left;
    margin-top: 229px;
    margin-left: 45px;
    overflow: hidden;
}

.chatroom-slider
{
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    -ms-transform:translate3d(0, 0, 0);
    -o-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);

    background-image: url("/img/slider.png");
    background-size: contain;
    width: 100%;
    height: 100%;

    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.section-separator
{
    width: 100%;
    background: -moz-linear-gradient(top,  rgba(255,94,58,1) 0%, rgba(255,42,104,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,94,58,1)), color-stop(100%,rgba(255,42,104,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,94,58,1) 0%,rgba(255,42,104,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,94,58,1) 0%,rgba(255,42,104,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,94,58,1) 0%,rgba(255,42,104,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,94,58,1) 0%,rgba(255,42,104,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ff5e3a', endColorstr='#99ff2a68',GradientType=0 ); /* IE6-9 */
}

.team-separator
{
    width: 100%;
    height: 200px;
    background-image: url('/img/team-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.separator-overlay
{
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top,  rgba(255,94,58,0.6) 0%, rgba(255,42,104,0.6) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,94,58,0.6)), color-stop(100%,rgba(255,42,104,0.6))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,94,58,0.6) 0%,rgba(255,42,104,0.6) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,94,58,0.6) 0%,rgba(255,42,104,0.6) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,94,58,0.6) 0%,rgba(255,42,104,0.6) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,94,58,0.6) 0%,rgba(255,42,104,0.6) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ff5e3a', endColorstr='#99ff2a68',GradientType=0 ); /* IE6-9 */

}

.press-logos
{
    list-style: none;
    padding: 25px;
    margin: 0;
}

.press-logos li
{
    display: inline-block;
}

.press-logos li img
{
    width: 300px;
    height: 150px;

    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -ms-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;

    border: 2px solid transparent;
}

.press-logos li img:hover 
{
    border: 2px solid white;
}

.more-info
{
    width: 100%;
    max-width: 1024px;
    min-height: 758px;
    margin: auto;
    text-align: right;
    overflow: hidden;
}

.more-info .screenshot
{
    width: 370px;
    float: right;
    padding: 50px 0 50px 0;
    overflow: hidden;
}

.more-info .screenshot img
{
    width: 100%;
}

.title-line 
{
    border-bottom: 1px solid #D5D5D5;
    display: block;
    height: 1px;
    margin: auto;
    width: 90px;
    margin-top: .5em;
}

.separator-content
{
    width: 100%;
    max-width: 1024px;
    margin: auto;
    text-align: center;
    color: #ecf0f1;
}

.separator-header
{
    font-family: proxima_nova_rgbold;
    font-size: 31px;
    padding-top: 65px;
}

.animation-container
{
    width: 350px;
    padding-top: 50px;
    min-height: 658px;
    padding-bottom: 15px;
    display: inline-block;
    float: left;
}

.content-header
{
    color: #e74c3c;
    font: 25pt 'proxima_nova_rgbold';
    padding: 30px 0px 0px 0px;
}

.content-header span
{
    display: block;
    font-size: 75px;
}

.content-header .title-line
{
    height: 3px;
    border-bottom: 1px solid #e7e6e9;
    width: 279px;
    margin: 25px 0 35px 5px;
}

.right-column
{
    float: left;
    display: inline-block;
    margin-left: 150px;
    max-width: 450px;
}

.right-column p, .left-column p
{
    font-size: 18px;
    font-family: proxima_nova_rgregular;
}

.left-column
{
    float: right;
    display: inline-block;
    margin-right: 150px;
    max-width: 450px;
    text-align: left;
}

.announcement
{
    color: white;
    font-size: 18px;
    font-family: proxima_nova_rgregular;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 75px;
}

.intro-content .title-line
{
    color: white;
}

.modal-backdrop 
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    opacity: .7;
}

.lightbox-content
{
    background-color:white;
    width:400px; 
    min-height:200px;
    border-radius: 0;
}

.lightbox
{
    margin-top: 10%;
    font-family: proxima_nova_rgregular;
}

.lightbox-content h1
{
    margin-bottom: 0;
}

.lightbox-content input
{
    margin-top: 8px;
    padding: 5px;
    font-size: 14px;
    font-family: proxima_nova_rgregular;
}

.lightbox-content input:focus
{
    outline-width: 0;
    border:2px solid #FF3D33;
}

.button
{
    outline-width: 0;
    display: block;
    margin: auto;
    margin-top: 15px;
    background-color: #ff3d33;
    border: none;
    color: white;
    padding: 5px 12px;
    text-decoration: none;
    font-size: 16px;
    font-family: proxima_nova_rgregular;
    margin-bottom: 0;
    border-radius: 3px;

    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.error
{
    color: white;
    display: block;
    padding-top: 10px;
    font-family: proxima_nova_rgregular;
    font-size: 18px;
}

.download-app
{
    width: 100%;
    min-height: 350px;
    text-align: center;
    color: white;
    background: #2e2f41 url(/img/footer.png) no-repeat;
    background-position: 0 -200px;
    background-size: cover;
}

.subscribe-section
{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    max-width: 1024px;
    margin: auto;
}

.subscribe-section h2
{
    font-family: proxima_nova_rgregular;
    font-size: 32px;
}

.subscriber-email
{
    font-family: proxima_nova_rgregular;
    width: 100%;
    max-width: 300px;
    display: inline-block;
    vertical-align: middle;
    padding: 8px 12px;
    font-size: 17px;
    line-height: 1.42857;
    color: #696f6f; 
    background-color: white;
    background-image: none;
    border: 2px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    height: 26px;
    margin-right: 3px;
}

.subscriber-email:focus 
{
    border-color: #FF3D33;
    border-color: #00b6ad;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.subscriber-email::-moz-placeholder 
{
  color: #636f70;
  opacity: 1;
}
.subscriber-email:-ms-input-placeholder 
{
  color: #636f70;
}
.subscriber-email::-webkit-input-placeholder 
{
  color: #636f70;
}
.subscriber-email[disabled], .subscriber-email[readonly], fieldset[disabled] .subscriber-email 
{
  cursor: not-allowed;
  background-color: #f3f4f5;
  opacity: 1;
}

.contact-emails
{
    font-size: 18px;
    font-family: proxima_nova_rgregular;
    margin: 20px;
    text-align: center;
}

.email-button
{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 0;
    white-space: nowrap;
    padding: 10px 23px;
    font-size: 18px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    color: white;
    border-color: #009d95;
    background-color: #00b6ad;
    outline: 0;
}

.email-button:hover
{
    background-color: #00837d;
    border-color: #005f5b;
}


.email-form
{
    width: 90%;
    max-width: 450px;
    margin: auto;
    display: block;
    padding: 0 15px 0 15px;
    margin-bottom: 100px;
    min-height: 420px; 
}

.email-form input,  
.email-form textarea,  
.email-form button 
{    
    width: 94%;
    display: block;     
    margin: 15px 0 15px 0;     
    font-size: 14px;
    font-family: proxima_nova_rgregular;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.email-form input:focus, 
.email-form textarea:focus
{
    outline-width: 0;
    border:2px solid #FF3D33;
}

.email-form input, 
.email-form textarea
{
    padding: 7px 30px 7px 10px;
    background-image: url(/img/invalid-icon.png);
    background-position: 98%;
    background-repeat: no-repeat;
    border: 2px rgb(169, 169, 169) solid;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.email-form input:valid, 
.email-form textarea:valid
{
    border:2px solid #FF3D33;
    background-image: url(/img/valid-icon.png);
}

.email-form textarea
{
    height: 200px;
    background-position: 98% 8px;
}

.email-form .hidden
{
    display: none;
}

#email-submit
{
    outline: 0;
    width: 100%;
    background-color: rgba(255, 61, 51, 1);
    border: none;
    color: white;
    letter-spacing: 1px;
    height: 40px;
    -moz-box-shadow: none;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
}

#email-submit:hover
{
    border:2px solid #555;
    background-color: #555;
}

.media
{
    max-width: 1024px;
    margin: auto;
    margin-top: 100px;
}

.media h1
{
    margin-top: 10px;
    color: #e74c3c;
    font: 35pt 'proxima_nova_rgbold';
    text-align: center;
}

.media .media-description
{
    text-align: left;
    font-size: 18px;
    font-family: proxima_nova_rgregular;
    margin: 20px;
}

.media .media-description h3
{
    text-align: center;
}

.media a
{
    color: #3498db;
}

.media a:hover
{
    color: rgba(255, 61, 51, 1);
}

.pin
{
    background: url('/img/pin.png') no-repeat center;
    margin: auto; 
    width: 150px;
    height: 200px;
    display: none;
}

.pin-container
{
    width: 150px;
    height: 200px;
    margin: auto;
}

.error-field
{
    border: 1px solid #e74c3c;
    padding: 7px;
    display: none;
    font-family: proxima_nova_rgregular;
    border-radius: 5px;
    text-align: center;
}

.sent
{
    display: none;
    margin: auto;
    background-image: url('/img/sent.gif');
    max-width: 210px;
    height: 255px;
    background-repeat: no-repeat;
    background-position-x: -45px;
}

.grid
{
    max-width: 1024px;
    margin-top: 30px;
    text-align: center;
}

.grid ul
{
    list-style: none;
    margin-bottom: 50px;
    padding: 0;
}

.grid ul li
{
    display: inline-block;
    margin: 10px;
}

.grid ul li:hover
{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.grid img
{
    width: 300px;
}

.media .download
{
    margin: 20px;
    background-color: #e74c3c;
    border: none;
    color: #ecf0f1;
    font-size: 20px;
    margin-bottom: 50px;
    padding: 10px 15px;
    border-top: 3px #c0392b solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: 100;
    text-decoration: none;
    font-size: 18px;
    font-family: proxima_nova_rgregular;
}

.media .download:hover
{
    color: #ecf0f1;;
}

.center
{
    text-align: center;
    font-family: proxima_nova_rgregular;
}

.media .article-header
{
    text-align: left;
    margin: 20px;
}

.media.article
{
    margin-bottom: 150px;
}

.article em
{
    margin: 20px;
}

.article .media-description h3
{
    text-align: left;
    font-size: 35px;
    margin: 0;
}

.article .media-description h4
{
    text-align: left;
    font-size: 25px;
    margin: 0;
}

.article blockquote
{
    font-family: proxima_novalight;
    border-left: 5px solid #eee;
    padding-left: 10px;
}

.media.article p
{
    margin: 0;
}

.mediumInsert .mediumInsert-images.small
{
    float: left;
    width: 30%;
    margin: 10px 25px 10px 0;
}

.mediumInsert-images.small img
{
    width: 100%;
}

.mediumInsert .mediumInsert-images
{
    margin: 20px 0 5px 0;
    text-align: center;
}

.media.team .media-description
{
    text-align: center;
}

.members
{
    display: inline-block;
    padding: 0;
}

.members li
{
    display: inline-block;
    list-style: none;
    margin-left: 15px;
    margin-right: 15px;
}

.team-text
{
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

.team-text .title
{
    font-size: 20px;
}

.team .center
{
    margin-bottom: 25px;
    margin-top: 25px;
}

.team .description
{
    display: block;
}

.media.article.team
{
    margin-bottom: 100px;
}

.team-info
{
    margin-bottom: 50px;
}

.ambassador p
{
    font-family: proxima_nova_rgregular;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
}

.ambassador h1
{
    margin-bottom: 0;
}

.invite
{
    background-color: #f6f6f6;
    width: 100%;
    height: 100%;
}

.invite .container
{
    width: 90%;
    max-width: 600px;
    margin: auto;
    background-color: white;
    min-height: 300px;
    border: 1px solid #e9e9e9;
    border-radius: 3px;
    margin-top: 50px;
    font-family: proxima_nova_rgregular;
    text-align: center;
}

.container .inner-container
{
    padding: 20px;
}

.container .logo
{
    border-radius: 10px;
    margin-bottom: 25px;
}

.not-installed img
{
    display: block;
    margin: auto;
    background-color: #e74c3c;
    border-radius: 10px;
    width: 200px;
    margin-top: 30px;
}

.spinner 
{
  width: 70px;
  height: 70px;
  background-color: #e74c3c;

  margin: 35px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/*
==============================================
Hatch Animation
==============================================
*/

.hatch{
    animation-name: hatch;
    -webkit-animation-name: hatch;  

    animation-duration: 2s; 
    -webkit-animation-duration: 2s;

    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;

    transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%; 

    visibility: visible !important;     
}

@keyframes hatch {
    0% {
        transform: rotate(0deg) scaleY(0.6);
    }
    20% {
        transform: rotate(-2deg) scaleY(1.05);
    }
    35% {
        transform: rotate(2deg) scaleY(1);
    }
    50% {
        transform: rotate(-2deg);
    }   
    65% {
        transform: rotate(1deg);
    }   
    80% {
        transform: rotate(-1deg);
    }       
    100% {
        transform: rotate(0deg);
    }                                   
}

@-webkit-keyframes hatch {
    0% {
        -webkit-transform: rotate(0deg) scaleY(0.6);
    }
    20% {
        -webkit-transform: rotate(-2deg) scaleY(1.05);
    }
    35% {
        -webkit-transform: rotate(2deg) scaleY(1);
    }
    50% {
        -webkit-transform: rotate(-2deg);
    }   
    65% {
        -webkit-transform: rotate(1deg);
    }   
    80% {
        -webkit-transform: rotate(-1deg);
    }       
    100% {
        -webkit-transform: rotate(0deg);
    }       
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (max-width: 1000px) {
    .download-app
    {
        background-size: initial;
        background-position: -100px 0px;
    }
}

@media screen and (max-width: 980px) {
    .animation-container 
    {
        float: none;
        margin: auto;
        display: block;
    }

    .right-column
    {
        margin: auto;
        text-align: center;
        float: none;
        display: block;
    }

    .content-header .title-line
    {
        margin-left: auto;
        margin-right: auto;
    }

    .right-column p
    {
        text-align: justify;
    }

    .more-info .screenshot
    {
        float: none;
        margin: auto;
    }

    .left-column 
    {
        float: none;
        text-align: center;
        margin: auto;
        display: block;
    }

    .left-column p
    {
        text-align: justify;
        margin-bottom: 50px;
    }

    .more-info .content-header
    {
        margin-top: 0;
        padding-top: 0;
    }
}

@media screen and (max-width: 810px) {
    .separator-content .title-line
    {
        margin-bottom: 65px;
    }

    .section-separator
    {
        height: 100%;
        min-height: 200px;
    } 
}

@media screen and (max-width: 750px) {

    .top-bar li 
    {
        display: none;
    }

    .icon-list
    {
        display: block;
    }

    .top-bar li a
    {
        width: 100%;
    }

}

@media screen and (max-width: 500px) {
    .email-button
    {
        margin-top: 10px;
    }

    .subscriber-email
    {
        margin-left: 3px;
    }
}

@media screen and (max-width: 485px) {
    .left-column p, .right-column p
    {
        margin-left: 25px;
        margin-right: 25px;
    }

    .intro-content h1
    {
        font-size: 55px;
    }

    .more-info .screenshot
    {
        width: 90%;
    }

    .animation-container 
    {
        width: 300px;
        min-height: 565px;
    }

    .chatroom-overlay
    {
        margin-top: 196px;
        margin-left: 39px;
        width: 225px;
        height: 53px;
    }

}

@media screen and (max-width: 430px) {

    .lightbox
    {
        width: 90%;
        margin-right: 15px;
    }
    
    .lightbox-content
    {
        width: 100%;
    }
}

@media screen and (max-width: 410px) {
    .content-header span
    {
        font-size: 60px;
    }
}

@media screen and (max-width: 370px) {
    .download-app 
    {
        background-position: -280px -140px;
    }

    .subscriber-email
    {
        width: inherit;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}